/* This file will hold styles that are loaded using the same media query as the wide grid. */

h1.title {
  margin: 0px 0 20px;
  font-size: 300%;
}

/* Block login */
.block-login input.form-text {
  width: 255px;
}

/* List videos */
.view-list-videos .views-row {
  float: left;
  width: 200px;
  margin: 10xp;
}

.view-list-videos .views-row-4,
.view-list-videos .views-row-7,
.view-list-videos .views-row-10,
.view-list-videos .views-row-16
.view-list-videos .views-row-19,
.view-list-videos .views-row-22,
.view-list-videos .views-row-28,
.view-list-videos .views-row-31 {
  clear: none;
}
.view-list-videos .views-row-5,
.view-list-videos .views-row-9,
.view-list-videos .views-row-13,
.view-list-videos .views-row-17,
.view-list-videos .views-row-21,
.view-list-videos .views-row-25,
.view-list-videos .views-row-29 {
  clear: left;
}

.view-list-videos .views-field-field-video img {
  width: 200px;
}

.view-list-videos .views-field-duration {
  position: absolute;
  top: 90px;
  right: 10px;
}
/* List chanel */
.view-og-list .views-row {
  width: 273px;
}
.view-og-list .views-row .views-field-field-image img {
  width: 273px;
}

/* Block search */
.block-search input.form-text {
  width: 300px;
}

.view-list-articles .views-row img {
  width: 270px;
}
.block-views-blog-block .views-field-title a,
.view-list-articles .views-field-title a {
  font-size: 200%;
}
article.node-article .field-name-field-image img {
  width: 345px;
}

/* Postscript block */
.block-custom-postscript img {
  width: 270px;
  margin-right: 0px;  
}

/* Contact form */
.contact-form .form-item label {
  float: left;
  width: 200px;
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-item.form-type-checkbox label {
  float: none;
  font-size: 100%;
  font-weight: normal;
}
.contact-form .form-item .form-textarea-wrapper {
  float: left;
  width: 70%;
}
.contact-form .form-item.form-type-checkbox,
.contact-form .form-actions {
  margin-left: 250px;
  width: auto;
  clear: left;
  float: left;
}
.contact-form .form-actions {
  margin-left: 260px;
}