/* This file will hold styles that are loaded using the same media query as the narrow grid. */
.branding-data {
  float: left;
  width: auto;
}
h1.title,
.channel-title  {
  margin: 0px 0 20px;
  font-size: 200%;
  line-height:1;
}

#block-system-main-menu {
  width: auto;
}
#block-system-main-menu ul.menu li {
  width: auto;
}
#region-menu {
}
ul#main-menu {
  float: left;
  width: auto;
}
ul#main-menu li {
  float: left;
}

/* User menu */
.region-user-menu {
  border: none;
}
.block-user-menu ul.menu {
  float: right;
}

/* Footer menu */
.zone-footer .block-menu .content ul.menu {
  float: left;
}

/* Block search */
.block-search {
  width: auto;
  padding: 10px;
  margin-top: 40px;
  background: #EEE;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.block-search input.form-submit {
  margin-right: 0;
  padding: 0.4em 0.5em;
}
.block-search input.form-text {
  width: 200px;
}

.block-login input.form-text {
  width: 138px;
}
.block-login .item-list ul li {
  margin-left: 0;
  list-style: none;
}
article.node-article .field-name-field-image img {
  width: 220px;
}

.block-views-blog-block .views-field-title a,
.view-list-articles .views-field-title a {
  font-size: 160%;
}
.view-list-articles .views-row img {
  width: 200px;
}

/* List videos */
.view-list-videos .views-row {
  float: left;
  width: 151px;
  margin: 10px;
  padding: 0;
  border: none;
}

.view-list-videos .views-field-field-video {
  float: left;
  width: 100%;
  margin-right: 0px;
}
.view-list-videos .views-field-duration {
  position: absolute;
  top: 50px;
  left: 85px;
}
.view-list-videos .views-row-4,
.view-list-videos .views-row-7,
.view-list-videos .views-row-10,
.view-list-videos .views-row-13,
.view-list-videos .views-row-16
.view-list-videos .views-row-19,
.view-list-videos .views-row-22,
.view-list-videos .views-row-25,
.view-list-videos .views-row-28,
.view-list-videos .views-row-31 {
  clear: left;
}
.view-list-videos .views-field-field-video img {
  width: 151px;
}


/* Feature video */
.view-featured-video .views-row .views-field-field-video {
    float: left;
    margin-right: 0px;
    width: 160px;
}
.view-featured-video .views-row .views-field-field-video img {
  width: 160px;
}
.view-featured-video .views-row .views-field-duration {
  position: absolute;
  top: 62px;
  left: 95px;
}

/* List chanel */
.view-og-list .views-row {
  width: 153px;
  max-width: 300px;
}
.view-og-list .views-row .views-field-field-image img {
  width: 153px;
}

/* Block copyright */
.block-copyright,
.block-logo-footer {
  text-align: right;
}

/* Contact form */
.contact-form .form-item label {
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-actions {
  margin-left: 10px;
}

/*video { 
  width: 100% !important; 
  height: auto !important; 
}*/